@font-face {
    font-family: 'Ranille Normal';
    font-style: normal;
    font-weight: normal;
    src: local('Ranille Normal'), url('fonts/RanilleNormalRegular-axEpm.woff') format('woff');
}


.search-box{
    background: #E8E8E4;
    /* z-index: 100; */
    position: absolute;
    top: 54px;
    right: 15.3%;
    width: 350px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-top:4px solid #D80B15;
    display: none;
  }
  
  .search-box:before{
    content: "";
    position: absolute;
    top: -32px;
    right: 13px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 14px solid transparent;
    border-bottom: 14px solid #D80B15;
  }
  
  .search-box input[type="text"]{
    width: 200px;
    padding: 5px 10px;
    margin-left: 23px;
    border: 1px solid #D80B15;
    outline: none;
  }
  
  .search-box input[type="button"]{
    width: 80px;
    padding: 5px 0;
    background: #D80B15;
    color: #fff;
    margin-left: -6px;
    border: 1px solid #D80B15;
    outline: none;
    cursor: pointer;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    background: none;
    outline: none;
    border: none;
}

#home {
    height: 100vh;
    width: 100vw;
    background-image: url('img/alyssa-strohmann-TS--uNw-JqE-unsplash.jpg');
    background-size: cover;
}


/* ==== navbar ==== */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 10vh;
    background-color: #222222; 
}

.navbar .logo {
    font-family: 'Ranille';
    font-size: 3rem;
    color: rgb(240, 238, 238);
}

.navbar .menu {
    width: 30%;
}

.navbar .menu-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar .menu-list a {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgb(240, 238, 238);
}

.navbar .menu-list a:hover {
    border-bottom : 2px solid #CC9966;
}

.navbar .menu-list a.active {
    border-bottom : 2px solid #CC9966;
}

.navbar .icons {
    display: flex;
    justify-content: space-around;
    width: 10%;
}

.navbar .icons a {
    color: rgb(240, 238, 238);
    font-size: 1.2rem;
    padding: 1.2rem;
    margin: 0.3rem;
}

.navbar .icons a:hover {
    color: #CC9966;
}

/* ==== main ==== */

.main .container {
    margin: 8rem 0 0 10rem;
}

.main h1 {
    font-size: 4rem;
    line-height: 5.8rem;
    font-family: 'Poppins', Sans-serif;
    text-transform: capitalize;
    color: #333333;
}

.main p {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    margin: 3rem 0 6rem 0;
}

.main a {
    font-size: 1.5rem;
    color: #222222e3;
    font-family: 'Poppins', sans-serif;
    padding: 0.8rem 2rem;
    border: 2px solid #222222e3;
    border-radius: 50px;
    font-weight: 600;
}

.main a:hover {
    border: 2px solid #222222e3;
    background-color: #222222e3;
    color: #fff;
}

/* ==== Top products section ==== */

#top-products {
    width: 90%;
    margin: 6rem auto;
    border-radius: 2.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: #EFEEEC;
}

#top-products .text-buttons-container {
    width: 22.5%;
    font-size: 3rem;
    line-height: 3.5rem;
    font-family: 'Poppins', sans-serif;
    padding: 2rem;
    color: #333333;
    font-weight: 700;
}

#top-products .text-buttons-container .buttons {
    margin-top: 2rem;
}

#top-products .text-buttons-container #back {
    background-color: #fff;
    border: 1px solid #000;
    padding: 1rem;
    border-radius: 0.8rem;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

#top-products .text-buttons-container #forward {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 1rem;
    border-radius: 0.8rem;
    font-size: 1.5rem;
}

#top-products .cards-container {
    width: 77.5%;
    display: flex;
    overflow: hidden;
}

#top-products .cards-container .reel-div{
    top: 0;
    height: 50%;
    width: 500%;
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items:flex-start;
}

.reel{
    transition:all 0.5s ease-in;
    display: flex;
}


#top-products .cards-container .reel-div .card {
    background: white;
    width: 22rem;
    min-height: 25rem;
    border-radius: 15px;
    margin: 2rem;
    filter: drop-shadow(0 0 2px rgb(218, 217, 217));
}

#top-products .cards-container .card-image {
    width: 22rem;
    min-height: 15rem;
    margin-bottom: 1.5rem;
    border-radius: 15px 15px 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#top-products .cards-container .reel-div .jacket-1 {
    background-image: url('img/red_bomber_jacket.png');   
    background-color: #9d101580;
}

#top-products .cards-container .reel-div .jacket-2 {
    background-image: url('img/suede_biker_jacket.png');   
    background-color: #40404271;
}

#top-products .cards-container .reel-div .shoes-1 {
    background-image: url('img/Jago_sneakers.png');
    background-color: #C5EEE8;
}

#top-products .cards-container .reel-div .sweater-1 {
    background-image: url('img/crochet_sweater\ \(1\).png');
    background-color: #B3A39C;
}

#top-products .cards-container .reel-div .Hoodie-1 {
    background-image: url('img/double_hoodie.png');
    background-color: #fdd5218a;
}

#top-products .cards-container .reel-div .Hoodie-2 {
    background-image: url('img/rabbit_carrot_drwastrings_hoodie.png');
    background-color: #F1EBD2;
}

#top-products .cards-container .reel-div .shirts-1 {
    background-image: url('img/womens_fall_shirts.png');
    background-color: #AD8E5D;
}


#top-products .cards-container .reel-div .card-text {
    padding: 0.5rem 1rem;
    font-family: 'Poppins', sans-serif;
}

#top-products .cards-container .reel-div .card-title {
    font-size: 1.6rem;
    position: relative;
}

#top-products .cards-container .reel-div .card-title::before {
    content: "";
    height: 0.2rem;
    width: 50%;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: 0;
}

#top-products .cards-container .reel-div .card-desc {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

#top-products .cards-container .reel-div .card-button {
    font-size: 1rem;
    float: right;
    margin-top: 1rem;
    cursor: pointer;
}

.section-title {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    margin-bottom: 2rem;
    display: inline-block;
    position: relative;
}

.section-title::after {
    content: "";
    height: 0.3rem;
    width: 8rem;
    background-color: #000;
    position: absolute;
    right: -9rem;
    top: 50%;
    transform: translate(0, -50%);
}

/* ==== Categories section ==== */

#categories {
    padding: 3rem 5.5rem;
}

#categories .categories-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
}

#categories .categories-row .item {
    background-color: #766161;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin: 2rem 0;
    cursor: pointer;
}

#categories .categories-row .r1-one {
    background: url('img/category_shirt.png');
    background-color: #16393886;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#categories .categories-row .r1-one:hover {
    background-color: #163938d0;
}

#categories .categories-row .r1-two {
    background: url('img/category_shoes.png');
    background-color: #19233ba2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#categories .categories-row .r1-two:hover {
    background-color: #19233be0;
}

#categories .categories-row .r1-three {
    background: url('img/category_jacket.png');
    background-color: #f1ab56a4;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
#categories .categories-row .r1-three:hover {
    background-color: #f1ab56e7;
}

#categories .categories-row .r1-four {
    background: url('img/category_t-shirt.png');
    background-color: #C3B79D;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#categories .categories-row .r1-four:hover {
    background-color: #c5ac77;
}

#categories .categories-row .r1-five {
    background: url('img/category_shorts.png');
    background-color: #42453094;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#categories .categories-row .r1-five:hover {
    background-color: #424530d8;
}

#categories .categories-row .r2-one {
    background: url('img/category_kurti.png');
    background-color: #424f769d;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#categories .categories-row .r2-one:hover {
    background-color: #424f76e3;
}

#categories .categories-row .r2-two {
    background: url('img/category_mini_dress.png');
    background-color: #C8C9CB;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#categories .categories-row .r2-two:hover {
    background-color: #919192;
}

#categories .categories-row .r2-three {
    background: url('img/category_tops.png');
    background-color: #BFA0A3;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#categories .categories-row .r2-three:hover {
    background-color: #c2979b;
}

#categories .categories-row .r2-four {
    background: url('img/category_shoes2.png');
    background-color: #cdeeffb0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#categories .categories-row .r2-four:hover {
    background-color: #cdeeff;
}

#categories .categories-row .r2-five {
    background: url('img/category_handbag.png');
    background-color: #be909398;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#categories .categories-row .r2-five:hover {
    background-color: #be9093e3;
}

#categories .categories-row span {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}


.trending {
    width: 90%;
    margin: 4rem auto;
    font-family: "Poppins", sans-serif;
}

.trending .section-title {
    font-weight: 700;
}
  
.trending .grid-container {
    display: grid;
    height: auto;
    margin-top: 5rem;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(7, 1fr);
    row-gap: 3.5rem;
    column-gap: 2.5rem;
}
  
.trending .grid-item {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 30px;
}
  
.trending .long { 
    grid-row: span 2;
    grid-column: span 3;
}
  
.trending .tall {
    min-height: 320px;
    min-width: 220px;  
    grid-row: span 3;
    grid-column: span 2; 
}

.trending .one {
    background: url('images/trending_card_1.jpg');
    background-size: cover;
}

.trending .one:hover {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.trending .two {
    background-image: url('images/trending_card_2.jpg');
    background-size: cover;
}

.trending .two:hover {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.trending .three {
    background-color: #E87474;
    background-image: url('images/trending_card_3.png');
    background-size: 60% 150%;
    background-repeat: no-repeat;
    background-position: 120% 100%;
}

.trending .four {
    background-color: #E5A1AF;
    background-image: url('images/trending_card_4.png');
    background-size: 40% auto;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.trending .five {
    background-color: #ABAFD0;
    background-image: url('images/trending_card_5.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position:  150% 100%;
}

.trending .six {
    background-color: #018C88;
    background-image: url('images/trending_card_6.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.trending .six:hover {
    background-color:rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.trending .seven {
    background-image: url('images/trending_card_7.jpg');
    background-size: cover;
}

.trending .seven:hover {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.trending .eight {
    background-color: #F5EB8E;
    background-image: url('images/trending_card_8.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 170% 100%;
}    

.trending .wishlist {
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    padding: 0.6rem;
    position: relative;
    left: 80%;
    top: 5%;
    cursor: pointer;
}

.trending .wishlist i {
    font-size: 1.5rem;
    color: #000;
}

.trending .tall .text {
    width: 60%;
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    top: 50%;
    left: 15%;
}

.trending .tall .text::before {
    content: "";
    display: block;
    width: 3px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    top: 0;
    left: -8%;
}

.trending .long .text {
    margin: 5.5rem 0 0 2rem;
}

.trending .long .text h4 {
    font-size: 2.8rem;
    line-height: 4.8rem;
    font-weight: 600;
}

.trending .long .text h5 {
    font-size: 1.5rem;
    font-weight: 600;
}

.trending .eight .text {
    width: 20%;
    font-size: 3rem;
    line-height: 3.8rem;
    font-weight: 600;
    color: #fff;
    margin: 4rem 0 0 4rem;
    position: relative;
}

.trending .eight .text::before {
    content: "";
    display: block;
    width: 3px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    top: 0;
    left: -12%;
}


#section {
    padding: 6rem;
    width: 80%;
    margin: auto;
    background-color: #fff;
    filter: drop-shadow(0 0 2px rgb(189, 188, 188));
}

#section .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#section .container .container-item {
    width: 20%;
}

#section .container .image {
    text-align: center;
    margin-bottom: 1.5rem;
}

#section .container i {
    font-size: 2rem;
}

#section .container .text {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


#section .container .text .heading {
    font-size: 1.5rem;
    font-weight: 600;
}

#section .container .text .para {
    font-size: 1rem;
    font-weight: 400;
}


/* ==== Footer ==== */

#footer {
    margin-top: 4rem;
    padding: 6rem 6rem 6rem 6rem;
    width: 100%;
    height: auto;
    background-color: #222222;
}

#footer .content {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

#footer .content::after {
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -15%;
    left: 5%;
}

#footer .content .heading {
    font-size: 2rem;
    color: #CC9966;
    margin-bottom: 3rem;
    font-weight: 550;
}

#footer .content .list {
    font-size: 1rem;
    color: #fff;
}

#footer .content .list li {
    margin-bottom: 0.5rem;
}

#footer .content .list a {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 400;
}

#footer .content .list a:hover {
    color: #CC9966;
}

#footer .container {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 8rem;
    text-align: center;
    color: #fff;
}


/****Responsive CSS****/
@media ( max-width : 600px )
{
    #home{
        background-blend-mode: color;
        background-position: center;
    }

    /* .categories{display: flex;flex-wrap: wrap;} */
    .categories-row{display: flex;flex-wrap: wrap;}

        
    .main .container {
        /* align-items: center; */

        justify-content: center;
        display:run-in;
        margin:0;
        padding-top: 20vh;
    }

    .main p,h1 {
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
        margin:0;
        text-align: center;
    }

    .main a {
        /* margin-top: 100px; */
        font-size: 2rem;
        margin: 5vh 0 0 43vw;
        padding:0;
        display: flex;
        justify-content: center;
        text-align: center;
        border-radius: 50px 0 50px 50px;
        width: 9rem;
        
    }
    .top-products{
        /* display:; */
        flex-wrap: wrap;
        display: inline-flex;
        background-color: ivory;
        height: max-content;width: max-content;

    }
    .text-buttons-container{
        display:inline-block;
        text-align: center;
        line-height: 1;
        justify-content: center;
        align-items: center;
        width: 100vw !important;
        overflow: hidden;
    }
    .cards-container{display: none;width: 100% !important;}
    /* .reel-div{display: none;}
    .reel{display: none;}
    .card{display: none;} */

    .content
    {
        width:fit-content !important ;

        /* border:10px ;
        border-style: solid;
        border-color: greenyellow; */
        border: 10px outset rgba(128, 128, 128, 0.418);
        text-align: center;
        /* padding-bottom: 20px; */
        padding:0 0 20px 0;
        
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        text-align:left; 
    }
    .col-1,.col-2,.col-3,.col-4{
        padding:0 0 4vh 10vw;

        position: relative;
        width:100%
    }
    .indian-wear-row,.western-wear-row,.sports-wear-row{
        display: flex;
        flex-wrap: wrap;
    }
    .image2{
        display: flex;
        justify-content: space-around;
    }
    /* *{
        background-color: #212121;
    } */
    /* .content:first-child
    {
        border: 0;
    } */
    /* .section .container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    } */
}



























